body{
    font: normal 1em "Montserrat";
    color: white;
    background-image: url("/Images/milky-way-starry-sky-night-sky-star-956999.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* This changes the border position absolute to the page
.border1 {
    position: absolute;
    border-color: white;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    left: 50%;
    transform: translate(-50%); 
}
*/

/* We can make borders that have different border styles on each of the border's sides */
/*
.border1 {
    position: absolute;
    border-color: white;
    border-right-style: dotted;
    border-left-style: dashed;
    border-top-style: solid;
    border-bottom-style: double;
    border-width: 10px;
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%);
}*/

/* There is also the border shorthand, which is something that we can use to assign property values
without needing to specify each property on a line. This makes for cleaner code.*/

.border1{
    position: absolute;
    border: 4px solid white; /*syntax: width style color*/
    left: 50%;
    transform: translate(-50%);
    border-top-right-radius: 30px; /*This rounds the top right corner of the border by 30px*/
    border-top-left-radius: 30px; /*This rounds the top left corner of the border by 30px*/
}

.heading1 {
    position: relative;
    padding: 0 20px;    
}


.border2{
    position: absolute;
    border: 3px solid white;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px; /*This rounds all the corners of the border by 30px*/
}

.heading2{
    position: relative;
    padding: 0 20px;
}


/*In summary, there are a lot of things you can do with borders: 
Style, border thickness or width, border color, and their 
roundedness.*/