body{
    background-image: url("/Images/milky-way-starry-sky-night-sky-star-956999.jpeg");
    background-color: black; /*color of the background, but redundant after adding the source of the image*/
    background-size: cover; /*covers the whole page*/
    background-repeat: no-repeat; /*removes repeat of the photo*/
    background-position: center; /*centers the starting position of the backgroung image.*/
    background-attachment: fixed; /*changes the scroll behaviour of the background image.*/
}

.someparagraph {
    display: flex;
    justify-content: center;
    font-family: "Montserrat";
    top: 50%;
    translate: transform -50%;
    font-size: 25pt;
    font-style: italic;
    color: white;
}
